# EN.bat – Gerekli Kütüphaneler ve Sürümler

# PowerShell Sürümü
PowerShell >= 5.1

# .NET Derlemeleri (Assemblies)
System.Windows.Forms
System.Drawing
System.Media
System.Speech
System.Runtime.InteropServices

# Windows API (User32.dll, Kernel32.dll)
User32.dll
Kernel32.dll

# Yönetici Yetkisi
Administrator Privileges Required

# Çalışma Ortamı
Virtual Machine (VM) Required